/* ************** Common ************** */
body {
  margin: 0;
}

.logo-type-basic {
  width: 100px;
  border: 1px solid #3366ff;
  margin: 0;
}

.logo-type-1 {
  width: 100px;
  border: 1px solid #3366ff;
  margin: 10px;
}

.form-control {
  padding: 5px;
  margin: 5px;
}

.form-control-block {
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1 solid #3366ff;
}

.log-in {
  text-align: center;
}

.submit {
  background-color: #3366ff;
  color: white;
}

/* ************** Specific to login  ************** */

.container {
  width: 400px;
  height: 400px;
  background-color: #eeeeee;
  border: 1px solid #3366ff;
  padding-top: 100px;
  margin: 0 auto; /* To let div in the center*/
  margin-top: 50px;
}

/* ********************* Layout CSS ********************* */
.header {
  background-color: #ccccff !important;
}

.title {
  font-size: 24pt;
  font-weight: bold !important;
  color: blueviolet;
}

.navbar {
  background-color: #6666cc;
  color: white;
}

.main-container {
}

.footer {    /** this class can be used with any element. */
  background-color: #6666CC;
  color: #ffffff;
  text-align: center;
}

/* ********************* Menu CSS ********************* */

ul.menu li a {
  text-decoration: none;
  color: white;
  padding: 14px 16px;

}

ul.menu li{
  float : left;
}

ul{
  text-decoration: none;
}
ul.menu { /** here, the class "menu" cvan only used with ul element. */
  list-style: none;
  background-color: #6666CC;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}
